services:
  php:
    build:
      context: .
      dockerfile: .docker/php/Dockerfile
    container_name: chat-php
    volumes:
      - ./:/var/www/html
    depends_on:
      - mysql
      - redis

  redis-subscriber:
    build:
      context: .
      dockerfile: .docker/php/Dockerfile
    container_name: chat-redis-subscriber
    command: php artisan redis:subscribe
    volumes:
      - ./:/var/www/html
    depends_on:
      - redis
      - mysql


  nginx:
    image: nginx:alpine
    container_name: chat-nginx
    ports:
      - "8001:80"
    volumes:
      - ./:/var/www/html
      - ./.docker/nginx/default.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - php

  mysql:
    image: mysql:8.0
    container_name: chat-mysql
    command: --default-authentication-plugin=mysql_native_password
    environment:
      MYSQL_DATABASE: chat
      MYSQL_USER: chat
      MYSQL_PASSWORD: chat
      MYSQL_ROOT_PASSWORD: root
    ports:
      - "3307:3306"
    volumes:
      - dbdata:/var/lib/mysql

  redis:
    image: redis:alpine
    container_name: chat-redis
    ports:
      - "6379:6379"
    volumes:
      - redisdata:/data
    command: redis-server --appendonly yes

  socket:
    build:
      context: ./socket-server
    container_name: chat-socket
    ports:
      - "3001:3001"
    environment:
      - REDIS_HOST=redis
    depends_on:
      - redis

volumes:
  dbdata:
  redisdata:
